div.body{
    background-color: #f5f5f5cb;
    background-position: center;

    margin-left: auto;
    margin-right: auto;
    width: 65%;

    border-style: ridge;

    overflow: auto;
}
.blurb{
    color: black;
    text-align: left;
    line-height: 150%;
    /* margin-right: 5%; */
}

a:link, a:visited{
    text-decoration: none;    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#capLogo{
    width: 100%;
    /* height: 10%; */
}

table{
    width: 100%;
}

th{
    background-color: rgb(243, 122, 57);
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
}

th:hover{
    background-color:rgba(255, 89, 0);
    cursor: pointer;
    text-decoration: none;
}

#arProto{
    height: 100%;
    width: 50%;
    float: left;
    margin-right: 3%;
}

progress{
    -webkit-appearance: none;
    appearance: none;
    background: orangered;
}

.status{
    color:orangered;
    text-shadow: 1px 1px 3px #000000;
}

.code{
    color: black;
}

b.code:hover{
    text-decoration: underline;
}


/* project.html specific css */
#projH2{
    /* color:rgb(24, 105, 105); */
    text-shadow: #000 0pt 1pt 3pt;
    margin-top: 3%;
    font-weight: bold;
}

.projTable th{
    background-color: rgb(41, 45, 49,0.8);
}

.projTable th:hover{
    background-color:rgb(20, 34, 26);
    cursor: pointer;
    text-decoration: none;
}

.projScreen{
    height: 100%;
    width: 50%;
    float: left;
    margin-right: 3%;
}